

    <div  id="sidebar-wrapper" class="pt-lg-5">
        <ul class="sidebar-nav-close nav navbar navbar-default pt-lg-5">
            
            <a href="/Admin/Index"><img class="w-75" src="~/Content/img/logov6.png" /></a>
                <!--<li class="sidebar-close "><a href="/Admin/Index">Anasayfa</a></li>-->
                <li class="sidebar-close pt-lg-4"><a href="/Yoneticiler/Index">Yöneticiler</a></li>
                <li class="sidebar-close"><a href="/Ogrenciler/Index">Öğrenciler</a></li>
                <li class="sidebar-close"><a href="/Dersler/Index"> Dersler </a></li>
</ul>
        
    </div>




